<%- include('partials/header') %>
<div class="container mt-5">
    <h1>Higher Education details</h1>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /college-details route -->
            <form action="/higher-education-details" method="POST">
              <div class="form-group">
                  <label for="name">Full Name</label>
                  <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label for="university">University Name</label>
                <input type="text" class="form-control" name="university">
              </div>
              <div class="form-group">
                <label for="location">University Location</label>
                <input type="text" class="form-control" name="location">
              </div>
              <div class="form-group">
                  <lable for="branch">Branch</lable>
                  <input type="text" class="form-control" name="branch"> 
              </div>
              <div class="form-group">
                <lable for="course">Course</lable>
                <input type="text" class="form-control" name="course"> 
              </div>
              <div class="form-group">
                <lable for="graduatingYear">Graduating Year</lable>
                <input type="number" class="form-control" name="graduatingYear"> 
              </div>
            <button type="submit" class="btn btn-dark">Update/Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
