<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3"><strong>Meetups!!</strong></h1>
        <p class="lead">Organize or view upcoming meetups</p>
    </div>
    <hr>
    <a class="btn btn-light btn-lg" href="/organize-meetups" role="button">Organize Meetups</a>
    <a class="btn btn-dark btn-lg" href="/view-meetups" role="button">Upcoming Meetups</a>
</div>

<%- include('partials/footer') %>
