<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3"><strong>Find other Alumnis</strong></h1>
        <p class="lead">Find other Alumnis of IIT Bhubaneswar</p>
    </div>
    <hr>
    <a class="btn btn-light btn-lg" href="/find-iitbbs" role="button">Find by IIT BBS details</a>
    <a class="btn btn-dark btn-lg" href="/find-company" role="button">Find by Company details</a>
    <a class="btn btn-light btn-lg" href="/find-high-education" role="button">Find by Higher Education</a>
</div>


<%- include('partials/footer') %>
